<!DOCTYPE html>
<html>
  <head>
    <title> temp | <%= @page_title || "user" %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
  </head>
  <body>
    
    <div id="main">
      <% if !flash[:notice].blank? %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <div id="content">
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
