<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="lectures new">
  <h2>Create Lecture</h2>

  <%= form_for(:lecture, :url => {:action => 'create'}) do |f| %>

    <table summary="Lecture form fields">
      <tr>
        <th>Title</th>
        <td><%= f.text_field(:Title) %></td>
      </tr>
      
    </table>

    <div class="form-buttons">
      <%= submit_tag("Create Lecture") %>
    </div>

  <% end %>
</div>