<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="lectures show">
  <h2>Show Lecture</h2>

  <table summary="Lecture detail view">
    <tr>
      <th>Title</th>
      <td><%= @lecture.Title %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @lecture.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @lecture.updated_at %></td>
    </tr>
  </table>

</div>